@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham";
  src: url("./fonts/Gotham-Font/Gotham-Bold.otf"),
    url("./fonts/Gotham-Font/GothamBold.ttf"),
    url("./fonts/Gotham-Font/Gotham-Black.otf"),
    url("./fonts/Gotham-Font/GothamMedium.ttf"),
    url("./fonts/Gotham-Font/GothamMedium_1.ttf"),
    url("./fonts/Gotham-Font/GothamBook.ttf"),
    url("./fonts/Gotham-Font/Gotham-Thin.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gotham", sans-serif;
}
