@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gotham", sans-serif;
}

@font-face {
  font-family: "Gotham";
  src: url("./fonts/Gotham-Font/Gotham-Bold.otf") format("otf"),
    url("./fonts/Gotham-Font/GothamBold.ttf") format("ttf"),
    url("./fonts/Gotham-Font/Gotham-Black.otf") format("otf"),
    url("./fonts/Gotham-Font/GothamMedium.ttf") format("ttf"),
    url("./fonts/Gotham-Font/GothamMedium_1.ttf") format("ttf"),
    url("./fonts/Gotham-Font/GothamBook.ttf") format("ttf"),
    url("./fonts/Gotham-Font/Gotham-Thin.otf") format("otf");
}
